body {
	
	background:#404040;
}

.row {
	background:#1a1a1a;
	color:#cccccc;
}

.col-sm-4 {
	margin:0px;
	padding: 1px;
	border:0px;
}
.tooltipClass {
	font-weight:bold !important;
	background: none !important;
	border: none !important;
	color: rgb(150, 0, 0) !important;
	box-shadow: none !important;
	outline: none !important;
	padding: 0px 4px 0px 4px !important;
}
table {
	margin:0;
	padding:0;
	border:0;
}

div, td, tr{
	margin:0;
	padding:0; !important;
	border:0;
}

#mapid { height: 600px; }
